<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	  <thead>
		<tr>
			  <th><%= robot.name %></th>
			  <th>&nbsp;</th>
			  <th><%= robot.description %></th>
			  <th><%= robot.me %></th>
			  <th>&nbsp;</th>
			  <th>&nbsp;</th>
		 </tr>
      </thead>

  </body>
</html>